/********************
GLOBAL
********************/

:root {
    --dark-purple: #6E6691;
    --light-purple: #BAB1DE;
    --ligh-peach: #DED2C8;
    --dark-green: #6D916E;
    --ligh-green: #9BDE9D;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--light-purple);
    color: black;
    font-size: 18px;
    overflow-x: hidden;
    
}

body {
    overflow-x: hidden;
    position: relative
}

h1,
h2 {
    font-family: 'Source Code Pro', monospace;
}

h3,
h4,
h5,
h6,
a {
    font-family: 'Puritan', sans-serif;
}

p {
    font-family: 'Hind Siliguri', sans-serif;
}

a {
    color: black;
}

/********************
HEADER
********************/

header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    margin: 20px;
    font-size: 1.5rem;
    list-style: none;
}

/* Cart button */
.cart-button {
    color: white;
    background-color: var(--dark-green);
    font-size: 1.2rem;
    box-shadow: 5px 5px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
}

.cart-button:hover {
    color: white;
    background-color: var(--dark-green);
    font-size: 1.2rem;
    box-shadow: 5px 5px 0px black, inset 1px 1px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.cart-button:active {
    color: white;
    background-color: var(--dark-green);
    font-size: 1.2rem;
    box-shadow: inset 1px 1px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

/********************
CART
********************/

.cart-item-image {
    width: 20%;
}

#cart {
    text-align: center;
    color: white;
    z-index: 1;
    height: 100%;
    width: 20vw;
    background-color: var(--dark-purple);
    position: absolute;
    left: 100vw;
    transition: left 1s;
    top: 0vw;
    overflow: scroll;
    box-shadow: 5px 5px 0px black;
    border-left: 2px solid black;
}

.cart-item-container {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

/* Buttons */
.decrease-quantity,
.increase-quantity {
    display: inline-block;
    color: white;
    background-color: var(--dark-green);
    font-size: 1.2rem;
    box-shadow: 5px 5px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    width: 20%;
}

.decrease-quantity:hover,
.increase-quantity:hover {
    color: white;
    background-color: var(--dark-green);
    font-size: 1.2rem;
    box-shadow: 5px 5px 0px black, inset 1px 1px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.decrease-quantity:active,
.increase-quantity:active {
    color: white;
    background-color: var(--dark-green);
    font-size: 1.2rem;
    box-shadow: inset 1px 1px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

/********************
SEARCHBAR SECTION
********************/

h1 {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
}

#search-section {
    padding: 5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Search bar container */
#search-container {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
    box-shadow: 5px 5px 0px black;

}

input {
    border: none;
    font-size: 1.5rem;
    margin: 1rem;
}

input:focus {
    border: none;
    outline: none;
}

/* Search button and delete search */
#searchbar-submit,
#delete-search-btn {
    background-color: var(--ligh-peach);
    transition: background-color 0.1s;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    margin: 0 0.2rem;

}

#searchbar-submit:hover,
#delete-search-btn:hover {
    background-color: var(--ligh-peach);
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: inset 1px 1px 0px black;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
}

#searchbar-submit:active,
#delete-search-btn:active {
    background-color: var(--ligh-green);
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: inset 1px 1px 0px black, inset -1px -1px 0px black;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
}

/********************
PRODUCTS
********************/

/* Change view button */
#view-div {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

#change-view {
    background-color: var(--dark-purple);
    color: white;
    font-size: 0.8rem;
    box-shadow: 5px 5px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
}

#change-view:hover {
    background-color: var(--dark-purple);
    color: white;
    font-size: 0.8rem;
    box-shadow: 5px 5px 0px black, inset 1px 1px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

#change-view:active {
    background-color: var(--dark-purple);
    color: white;
    font-size: 0.8rem;
    box-shadow: inset 1px 1px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

/* Products main container */
#products {
    width: 200vw;
    margin-left: 0vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
}

/* Single item */
.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 50px;
    padding: 2rem;
    box-shadow: 5px 5px 0px black;
}

.product-image {
    width: 100px;
}

/* Add to cart button */
.addToCart-btn {
    background-color: var(--ligh-green);
    font-size: 1.2rem;
    box-shadow: 5px 5px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
}

.addToCart-btn:hover {
    background-color: var(--ligh-green);
    font-size: 1.2rem;
    box-shadow: 5px 5px 0px black, inset 1px 1px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.addToCart-btn:active {
    background-color: var(--dark-green);
    font-size: 0.8rem;
    box-shadow: inset 1px 1px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
}

/* Pagination buttons */

#pagination-section {
    display: flex;
    justify-content: center;

    padding-bottom: 7rem;
}

.pagination {
    background-color: var(--dark-purple);
    color: white;
    font-size: 0.8rem;
    box-shadow: 5px 5px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    margin: 0 30px;
}

.pagination:hover {
    background-color: var(--dark-purple);
    color: white;
    font-size: 0.8rem;
    box-shadow: 5px 5px 0px black, inset 1px 1px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

.pagination:active {
    background-color: var(--dark-purple);
    color: white;
    font-size: 0.8rem;
    box-shadow: inset 1px 1px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

/********************
TECH STUFF
********************/

#tech-stuff {
    border-top: 2px solid black;
    padding: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tech-stuff h2,
#tech-stuff p {
    font-size: 3rem;

}

#tech-stuff p {
    font-size: 1.5rem;
}

#tech-stuff>p:first-of-type {
    margin-bottom: 5rem;
}

#tech-stuff li {
    margin: 2rem;
}

#tech-stuff li p {
    font-size: 1.2rem;
}

#tech-stuff h3 {
    font-size: 1.5rem;
}



/********************
FOOTER
********************/

footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    border-top: 2px solid black;
    padding: 3rem;
}

footer div {
    background-color: white;
    margin: 1rem 5%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 5px 5px 0px black;
}

footer ul {
    list-style-type: none;
}

footer h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer button {
    background-color: var(--dark-green);
    font-size: 1.2rem;
    box-shadow: 5px 5px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    margin: 0.4rem;
}

footer button:hover {
    background-color: var(--dark-green);
    font-size: 1.2rem;
    box-shadow: 5px 5px 0px black, inset 2px 2px 0px black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

footer button a {
    color: white;
    text-decoration: none;
}

/********************
MEDIA QUERY
********************/

@media only screen and (width < 870px) {

    #products {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    footer div {
        text-align: center;
    }

    #search-container {
        flex-direction: column;
        align-items: center;
    }

    #searchbar-submit,
    #delete-search-btn {
        width: 30%;
    }

    input {
        width: 50%;
    }

    .cart-button {

        font-size: 1rem;

        padding: 0.5rem 1.5rem;
    }

    nav a {
        font-size: 1rem;
    }

    #cart {
        width: 80vw;
    }
}
